@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #F8F8F8;
}

:root {
    --color-content-text: #8c8c8c;
    --color-content-heading: #1e1e1e;
    --color-content-primary: #652d90;
}

h1, h2, h3, p {
    margin: 0px;
}

.container_1 {
    display: flex;
    justify-content: center;
    width: 100%;
    .container_1_int {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1280px;
        width: 100%;
        .area_container_1 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0px;
            width: 100%;

            .hero_home {
                max-width: 700px;
                width: 100%;
                height: auto;
            }

            .area_text_container_1 {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;
                max-width: 560px;

                img {
                    max-width: max-content;
                    width: 100%;
                    height: auto;
                }

                .area_titles_container_1 {
                    display: flex;
                    flex-direction: column;
                    gap: 0px;
                    .info_container_1 {
                        p {
                            font-size: 1em;
                            color: var(--color-content-text);
                            font-weight: 400;
                        }
                    }

                    .title_container_1 {
                        h1 {
                            font-size: 3.3em;
                            color: var(--color-content-heading);
                            font-weight: 700;
                        }
                    }
                }

                .sub_title_container_1 {
                    p {
                        font-size: 1.7em;
                        font-weight: 700;
                        color: var(--color-content-primary);
                        line-height: 130%;
                        b {
                            font-weight: 800;
                        }
                    }
                }

                .sub_info_container_1 {
                    p {
                        font-size: 1em;
                        color: var(--color-content-text);
                        font-weight: 400;
                        b {
                            font-weight: 700;
                        }
                    }
                }

                .area_app_containe_1 {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 20px;
                    a {
                        img {
                            max-width: max-content;
                            width: 100%;
                            height: auto;
                        }
                    }
          

                    .sub_info_container_1 {
                        max-width: 200px;
                        width: 100%;
                        p {
                            font-size: 1em;
                            color: var(--color-content-text);
                            font-weight: 400;
                            b {
                                font-weight: 700;
                            }
                        }
                    }
                }


            }


        }
        
    }
}











